certifi==2022.12.07
chardet==4.0.0
dnspython==2.1.0
idna==2.10
oauthlib==3.1.0
pymongo==4.0.1
PySocks==1.7.1
python-http-client==3.3.4
requests==2.25.1
requests-oauthlib==1.3.0
sendgrid==6.9.3
six==1.15.0
starkbank-ecdsa==2.0.3
tweepy==3.10.0
urllib3==1.26.4